# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# PyTorch / Models / Weights
*.pt
*.safetensors
*.bin
*.onnx
models_cache/
downloads/

# Docker / Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

